services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
      target: dev
    ports:
      - "4200:4200"
    volumes:
      - ./web/src:/app/src
      - ./web/proxy.compose.conf.json:/app/proxy.compose.conf.json
    command: ng serve --configuration=dev-compose --host 0.0.0.0
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: dev
    ports:
      - "8000:8000"
    volumes:
      - ./backend/billiken_blueprint:/app/billiken_blueprint