name: pytest

on:
  pull_request:
    branches:
      - main

permissions:
  checks: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        working-directory: backend
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        working-directory: backend
        run: uv run pytest tests --junitxml=reports/junit.xml

      - name: Post test results to PR
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: backend/reports/junit.xml
          check_name: Pytest Results
