*
!public
!src
!.postcssrc.json
!angular.json
!nginx-entrypoint.sh
!nginx.conf.template
!package-lock.json
!package.json
!pnpm-lock.yaml
!proxy.compose.conf.json
!proxy.conf.json
!tsconfig.app.json
!tsconfig.json
!tsconfig.spec.json